html{
    background: #565452;
}

h5{
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    margin-bottom: 10px;
    margin-top: 15px;
}
.container{
    color: black;
    text-align: center;
    font-size: 35px;
}
.background{
    width: 100%;
    height: 100%;
    background: #565452;
    display: contents;

}
p.info{
    margin-left: 40px;
    color: whitesmoke;
    font-size: 20px;
}

.calculator{
    background: #565452;
	padding: 10px;
	border-radius: 10%;
    width: 350px;
    padding-left: 500px;
}
form{
    background: black;
    border-radius: 5%;
}

.calculator form input{
	border: 0;
	outline: 0;
	width: 60px;
	height: 50px;
	border-radius: 50px;
	box-shadow: -8px -8px 15px rgba(225,225,225,0.1),5px 5px 15px rgba(0,0,0,0.2);
	background: white;
	font-size: 20px;
	color: black;
	cursor: pointer;
	margin: 10px;
}

form .display{
	display: flex;
	justify-content: flex-end;
	margin: 20px 0;
	background: black;
	border-radius: 5%;
	height: 100px;
    padding-top: 20px;
}

form input.clear{
    width: 150px;
	background: #dc3545;
	color: white;
    font-weight: bolder;
    font-size: 30px;
}

form input.clear:hover{
    background: white;
    color: #dc3545;
    transform: scale(1.1);
}

form .display input{
	text-align: right;
	flex: 1;
	font-size: 45px;
	box-shadow: none;
	background: #6b6b6b;
	border-radius: 2%;
	color: whitesmoke;
    height: 75px;
}
form .input:hover{
    transform: scale(1.1);
    color: #6b6b6b;
    background: whitesmoke;
}

form input.equals{
	width: 150px;
	background: #565452;
	color: gold;
}

form .equals:hover{
    transform: scale(1.1);
    color: #565452;
    background: gold;
}

form input.operator{
	color: gold;
	background: #565452;
}

form .operator:hover{
    transform: scale(1.1);
    color: #565452;
    background: gold;
}
